*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 3px;
    text-transform: capitalize;
    margin-right: 2px;
  }

/*-------------- UseEffectEx2------------ */
.cocktail-data{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  text-align: center;
  margin: 10px;
}
.cocktail-data li img{
  width: 100%;
  max-width: 250px;
  object-fit: cover;
}

@media screen and (min-width: 769px) {
  .cocktail-data{
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr ;
  }
}
