*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  letter-spacing: 1px;
  background: #f3f3FB;
}


.movie-container{
  background: whitesmoke;
  width: 100%;
  max-width: 1200px;
  margin: 3rem auto;
}
 .each-movie{
  background: white;
  border: 1px solid rgb(108, 108, 108);
}
/*------ PropsExample1 ------------*/
.posts-container{
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 2rem auto;
}
.profile-card{
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  box-shadow: 0px 0px 8px 2px rgb(132, 132, 132);

}
.profile-card img{
  width: 100%;
  height: 100%;
}
.profile-card .title{
  margin-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0 5px 0 10px;
  font-size: 16px;
  
  
}
.profile-card a{
  display: inline-block;
  border: 1px solid black;
  margin-top: 20px;
  color: red;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 20px 0 10px 10px

}

@media screen and (min-width: 768px) {
  .posts-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}

/* ------ PropsExample2----------- */
.container{
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0px 20px;
}
.comments-container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

li{
  list-style-type: none;
}

.comment{
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 2px 7px #bcbccc;

}
.comment .email{
  font-size: 16px;
  color: #2f334d;
}
.comment .name{
  color: #8C8C9C;
  font-size: 16px;
  text-transform: capitalize;
  /* line-clamp css trick one line */
  display: -webkit-box;     
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.comment .message{
  font-size: 16px;
  letter-spacing: 1px;

}
.comments-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
  
}

@media screen and (min-width: 768px) {
  .comments-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
}
/* ------------PropsLooping-------- */
.profile-pic{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.profile-container{
  width: 100%;
  height: 100%;
  background: #e5e5e7;
  max-width: 300px;
  margin: 5rem auto;
  text-align: center;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;

}

/* ----------------PropsExample3---------------------------- */

table 
  td,
  th {
    width: 100%;
    height: 100%; 
  }
  .table-container {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 10px;
  }

/* ------------EventHandling--------------- */
.button{
  padding: 10px;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 3px;
  text-transform: capitalize;
}

